<h1>Three.js Guy1 Model</h1>

<div id="demo"></div>
<script src="/js/threejs/0.<%= r %>.0/controls/OrbitControls.js" ></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/guy.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>