<h1>Count Down Module</h1>

<div id="demo"></div>

<script src="/js/threejs/0.<%= r %>.0/three.min.js" ></script>
<script src="/forpost/threejs-canvas-texture/js/canvas-r2.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/count-down.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/main.js"></script>
