<h1>Getting started</h1>

<div id="demo"></div>

<script src="/js/threejs/0.<%= r %>.0/controls/OrbitControls.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/sample_alphas.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
