<h1>THREEJS object grid wrap land demo </h1>

<div id="demo"></div>

<script src="/js/threejs/0.135.0/controls/OrbitControls.js" ></script>
<script src="/js/threejs/0.135.0/loaders/ColladaLoader.js" ></script>

<script src="/demos/r<%= r %>/<%= demoName %>/js/object-grid-wrap.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/object-grid-wrap-effects-core.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
