<h1>Three.js House Model</h1>

<div id="demo"></div>
<script src="/js/threejs/0.<%= r %>.0/controls/OrbitControls.js" ></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/canvas_texture.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/guy.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/hamster_wheel.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/house.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>