<h1>Three.js point light demo</h1>

<div id="demo"></div>

<script src="/demos/r<%= r %>/<%= demoName %>/js/add_cube.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/add_point_light.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/setup.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/loop.js"></script>