<h1>Three.js webGL test</h1>

<div id="demo"></div>

<script src="/js/threejs/0.<%= r %>.0/projector.js"></script>
<script src="/js/threejs/0.<%= r %>.0/software-renderer.js"></script>

<script src="/demos/r<%= r %>/<%= demoName %>/js/webgl.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/setup.js"></script>
